In [15]:
import json
import pandas as pd

In [16]:
with open('data/world_bank_projects_less.json') as f:
    data = json.load(f)

In [26]:
rd = pd.read_json('data/world_bank_projects_less.json')

In [57]:
rd.index

RangeIndex(start=0, stop=2, step=1)

In [47]:
rd.loc[:,'approvalfy':'countrycode']

,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode
0,1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET
1,2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN

In [56]:
rd.loc[0:1, 'approvalfy':'borrower']

,approvalfy,board_approval_month,boardapprovaldate,borrower
0,1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA
1,2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA